@model Eurovision.Models.ProfileVM

@{
    ViewBag.Title = "Profile";
}


@using (Html.BeginForm("Profile", "My", FormMethod.Post, new { @class = "form", autocomplete="off" }))
{
    <ul>
        <li class="legend">@ViewBag.Title</li>
        <li>
        @Html.LabelFor(m => m.DisplayName)
        @Html.EditorFor(m => m.DisplayName)
        </li>
        <li>
        @Html.LabelFor(m => m.CurrentGame)
        @Html.TextBoxFor(m => m.CurrentGame, new { type = "number", pattern = "\\d*", style = "width:50px;" })
        </li>
        <li id="send">
        <input type="submit" value="submit"/>
        </li>
        <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
    </ul>
}
@Html.SetFocus(m => m.DisplayName)